body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../Assets/background-img/triangle-mosaic/triangle-mosaic/triangle-mosaic.png");
}


/* blank space div */
.blank-space {
    height: 400px   ;
    width: 100%;
}

header {
    width: 100%;
    height: 200px;
    background-color: #939196;
    border-bottom: 8px solid #323031;
}



#quick-links {
    position: relative;
    width: 100%;
    height: 290px;
    background-color: #939196;
}
#quick-links::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
}