body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(173, 67, 67);
}


#intropage-content {
    height: 100vh;
    width: 100%;
    z-index: 1;
}

header {
    width: 100%;
    /* margin: 30px; */
    padding: 30px;
    /* position: fixed; */
    text-align: right;
}

#about-link,
#portfolio-link,
#otherlinks-link,
#contact-link {
    color: whitesmoke;
    font-size: 20px;
    margin-right: 25px;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#about-link:hover,
#portfolio-link:hover,
#otherlinks-link:hover,
#contact-link:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(194, 194, 51);
}

#lightbulb-div {
    margin-top: -40px;
    width: 100%;
    text-align: center;
}
#downarrow {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 48vw;
    bottom: 10px;
}
#HiTxt {
    position: relative;
    top: 150px;
    margin-right: 50%;
    font-size: 75px;
    color: rgb(194, 194, 51);
    font-family: 'Indie Flower', cursive;
}
#ImomerTxt {
    position: relative;
    bottom: 150px;
    margin-left: 50%;
    font-size: 75px;
    color: rgb(194, 194, 51);
    font-family: 'Indie Flower', cursive;
}




#aboutme-content {
    margin-top: 30vh;
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    border-top: 5px solid rgb(44, 44, 44);
}
#aboutme-titleBox {
    width: 100%;
    height: 20vh;
    text-align: left;
    padding-left: 7vw;
}
#slanted-tri {
    text-align: center;
    float: right;
    position: relative;
    height: 100px;
    background-color: rgb(44, 44, 44);
    width: 400px;
}
#slanted-tri::before {
    position: absolute;
    content: '';
    width: 400px;
    height: 100px;
    left:0;
    background-color: rgb(44, 44, 44);
    transform: skewY(15deg);
    z-index: 0;
}
#techlight-img {
    position: relative;
    z-index: 2;
    height: 90px;
    width: 380px;
}
#aboutme-titleText {
    display: inline-block;
    margin-top: 10vh;
    color: rgb(83, 83, 83);
    font-size: 50px;
    border-bottom: 2px solid rgba(173, 67, 67, 0.185);
}


#profile-pic {
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 150px;
}




























/* #aboutme-content {
    position: relative;
    margin-top: 30px;
    height: 20vh;
    background-color: rgb(196, 196, 255);
    width: 100%;
}
#aboutme-content::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 20vh;
    top:10vh;
    left:0;
    background-color: rgb(196, 196, 255);
    transform: skewY(2deg);
    z-index: -1;
}

 */









/* #title-div-about {
    display: table;
}
.title-text {
    display: table-cell;
    vertical-align: middle;
}


/* 
    -moz-box-shadow: 0 0 20px #0e0a0a;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
*/