body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(173, 67, 67);
}


header {
    width: 100%;
    padding: 30px;
    text-align: center;
}

#about-link,
#portfolio-link,
#otherlinks-link,
#contact-link {
    color: whitesmoke;
    font-size: 20px;
    margin-right: 25px;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#about-link:hover,
#portfolio-link:hover,
#otherlinks-link:hover,
#contact-link:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(194, 194, 51);
}